# EDA


- The os module has a perfect method to list files in a directory.
- Pandas json normalize could work here but is not necessary to convert the JSON data to a dataframe.
- You may need a nested for-loop to access each sale!
- We've put a lot of time into creating the structure of this repository, and it's a good example for future projects.  In the file functions_variables.py, there is an example function that you can import and use.  If you have any variables, functions or classes that you want to make, they can be put in the functions_variables.py file and imported into a notebook.  Note that only .py files can be imported into a notebook. If you want to import everything from a .py file, you can use the following:
```python
from functions_variables import *
```
If you just import functions_variables, then each object from the file will need to be prepended with "functions_variables"\
Using this .py file will keep your notebooks very organized and make it easier to reuse code between notebooks.

In [71]:
# (this is not an exhaustive list of libraries)
import pandas as pd
import numpy as np
import os
import json
from pprint import pprint
from functions_variables import encode_tags

## Data Importing

In [72]:
#REMOVE? 
with open('../data/AK_Juneau_0.json') as f:
    data = json.load(f)

# Normalize
df = pd.json_normalize(data)

# Show a preview
print(df.head())

   status  data.total  data.count  \
0     200           8           8

                                        data.results
0  [{'primary_photo': {'href': 'https://ap.rdcpix...

In [73]:
#REMOVE? 
# load type of data and attributes of one file

# local JSON file
file_path = '../data/AK_Juneau_0.json'
with open(file_path, 'r') as f:
    data = json.load(f) 
    print(json.dumps(data, indent=4))

#attribute of data
print(type(data))

{
    "status": 200,
    "data": {
        "total": 8,
        "count": 8,
        "results": [
            {
                "primary_photo": {
                    "href": "https://ap.rdcpix.com/07097d34c98a59ebb799688986ef271dl-m2867511255s-w1024_h768.jpg"
                },
                "last_update_date": "2023-09-19T20:52:50Z",
                "source": {
                    "plan_id": null,
                    "agents": [
                        {
                            "office_name": "EXP Realty LLC - Southeast Alaska"
                        },
                        {
                            "office_name": "Non-Member Office"
                        }
                    ],
                    "spec_id": null,
                    "type": "mls"
                },
                "tags": [
                    "carport",
                    "community_outdoor_space",
                    "cul_de_sac",
                    "family_room",
                    "hardwood_floors",
                    "hill_or_mountain_view",
                    "recreation_facilities",
                    "rv_or_boat_parking",
                    "basement",
                    "garage_1_or_more",
                    "two_or_more_stories",
                    "big_yard",
                    "high_ceiling",
                    "efficient",
                    "trails",
                    "shopping"
                ],
                "permalink": "9453-Herbert-Pl_Juneau_AK_99801_M90744-30767",
                "status": "sold",
                "list_date": "2023-06-29T21:16:25.000000Z",
                "open_houses": null,
                "description": {
                    "year_built": 1963,
                    "baths_3qtr": null,
                    "sold_date": "2023-09-18",
                    "sold_price": null,
                    "baths_full": 2,
                    "name": null,
                    "baths_half": null,
                    "lot_sqft": 10454,
                    "sqft": 1821,
                    "baths": 2,
                    "sub_type": null,
                    "baths_1qtr": null,
                    "garage": 1,
                    "stories": null,
                    "beds": 3,
                    "type": "single_family"
                },
                "branding": [
                    {
                        "name": "EXP Realty LLC - Southeast Alaska",
                        "photo": null,
                        "type": "Office"
                    }
                ],
                "list_price": 554950,
                "lead_attributes": {
                    "show_contact_an_agent": true
                },
                "property_id": "9074430767",
                "photos": [
                    {
                        "tags": [
                            {
                                "label": "house_view",
                                "probability": 0.9931892156601
                            },
                            {
                                "label": "road_view",
                                "probability": 0.84215885400772
                            },
                            {
                                "label": "house_view",
                                "probability": 0.93829786777496
                            }
                        ],
                        "href": "https://ap.rdcpix.com/07097d34c98a59ebb799688986ef271dl-m2867511255s-w1024_h768.jpg"
                    },
                    {
                        "tags": [
                            {
                                "label": "living_room",
                                "probability": 0.99856203794479
                            }
                        ],
                        "href": "https://ap.rdcpix.com/07097d34c98a59ebb799688986ef271dl-m2021977128s-w1024_h768.jpg"
                    },
                    {
                        "tags": [
                            {
                                "label": "dining_room",
                                "probability": 0.99998116493225
                            }
                        ],
                        "href": "https://ap.rdcpix.com/07097d34c98a59ebb799688986ef271dl-m2832281708s-w1024_h768.jpg"
                    },
                    {
                        "tags": [
                            {
                                "label": "unknown",
                                "probability": 0.91968685388565
                            }
                        ],
                        "href": "https://ap.rdcpix.com/07097d34c98a59ebb799688986ef271dl-m2250208436s-w1024_h768.jpg"
                    },
                    {
                        "tags": [
                            {
                                "label": "kitchen",
                                "probability": 0.99999892711639
                            }
                        ],
                        "href": "https://ap.rdcpix.com/07097d34c98a59ebb799688986ef271dl-m4264543754s-w1024_h768.jpg"
                    }
                ],
                "flags": {
                    "is_new_construction": null,
                    "is_for_rent": null,
                    "is_subdivision": null,
                    "is_contingent": null,
                    "is_price_reduced": false,
                    "is_pending": null,
                    "is_foreclosure": null,
                    "is_plan": null,
                    "is_coming_soon": null,
                    "is_new_listing": false
                },
                "community": null,
                "products": {
                    "brand_name": "basic_opt_in"
                },
                "virtual_tours": null,
                "other_listings": {
                    "rdc": [
                        {
                            "listing_id": "2957241843",
                            "listing_key": null,
                            "status": "sold",
                            "primary": true
                        },
                        {
                            "listing_id": "2957022863",
                            "listing_key": null,
                            "status": "off_market",
                            "primary": null
                        }
                    ]
                },
                "listing_id": "2957241843",
                "price_reduced_amount": 45000,
                "location": {
                    "address": {
                        "postal_code": "99801",
                        "state": "Alaska",
                        "coordinate": {
                            "lon": -134.59372,
                            "lat": 58.36395
                        },
                        "city": "Juneau",
                        "state_code": "AK",
                        "line": "9453 Herbert Pl"
                    },
                    "street_view_url": "https://maps.googleapis.com/maps/api/streetview?channel=rdc-streetview&client=gme-movesalesinc&location=9453%20Herbert%20Pl%2C%20Juneau%2C%20AK%2099801&size=640x480&source=outdoor&signature=OPv224SjFIJWgVKAXZKZXNYEdNQ=",
                    "county": {
                        "fips_code": null,
                        "name": "Juneau"
                    }
                },
                "matterport": false
            },
            {
                "primary_photo": null,
                "last_update_date": null,
                "source": null,
                "tags": null,
                "permalink": "8477-Thunder-Mountain-Rd_Juneau_AK_99801_M94249-83842",
                "status": "sold",
                "list_date": null,
                "open_houses": null,
                "description": {
                    "year_built": null,
                    "baths_3qtr": null,
                    "sold_date": "2023-08-22",
                    "sold_price": null,
                    "baths_full": null,
                    "name": null,
                    "baths_half": null,
                    "lot_sqft": null,
                    "sqft": null,
                    "baths": null,
                    "sub_type": null,
                    "baths_1qtr": null,
                    "garage": null,
                    "stories": null,
                    "beds": null,
                    "type": null
                },
                "branding": [
                    {
                        "name": null,
                        "photo": null,
                        "type": "Office"
                    }
                ],
                "list_price": null,
                "lead_attributes": {
                    "show_contact_an_agent": true
                },
                "property_id": "9424983842",
                "photos": null,
                "flags": {
                    "is_new_construction": null,
                    "is_for_rent": null,
                    "is_subdivision": null,
                    "is_contingent": null,
                    "is_price_reduced": null,
                    "is_pending": null,
                    "is_foreclosure": null,
                    "is_plan": null,
                    "is_coming_soon": null,
                    "is_new_listing": null
                },
                "community": null,
                "products": null,
                "virtual_tours": null,
                "other_listings": {
                    "rdc": [
                        {
                            "listing_id": "2958935271",
                            "listing_key": null,
                            "status": "sold",
                            "primary": null
                        }
                    ]
                },
                "listing_id": null,
                "price_reduced_amount": null,
                "location": {
                    "address": {
                        "postal_code": "99801",
                        "state": "Alaska",
                        "coordinate": null,
                        "city": "Juneau",
                        "state_code": "AK",
                        "line": "8477 Thunder Mountain Rd"
                    },
                    "street_view_url": "https://maps.googleapis.com/maps/api/streetview?channel=rdc-streetview&client=gme-movesalesinc&location=8477%20Thunder%20Mountain%20Rd%2C%20Juneau%2C%20AK%2099801&size=640x480&source=outdoor&signature=X_IwZxbWaAsrSLHsERLq_64YJhc=",
                    "county": {
                        "fips_code": null,
                        "name": "Juneau"
                    }
                },
                "matterport": false
            },
            {
                "primary_photo": null,
                "last_update_date": null,
                "source": null,
                "tags": null,
                "permalink": "4515-Glacier-Hwy_Juneau_AK_99801_M94790-68516",
                "status": "sold",
                "list_date": null,
                "open_houses": null,
                "description": {
                    "year_built": null,
                    "baths_3qtr": null,
                    "sold_date": "2023-08-22",
                    "sold_price": null,
                    "baths_full": null,
                    "name": null,
                    "baths_half": null,
                    "lot_sqft": null,
                    "sqft": null,
                    "baths": null,
                    "sub_type": null,
                    "baths_1qtr": null,
                    "garage": null,
                    "stories": null,
                    "beds": null,
                    "type": null
                },
                "branding": [
                    {
                        "name": null,
                        "photo": null,
                        "type": "Office"
                    }
                ],
                "list_price": null,
                "lead_attributes": {
                    "show_contact_an_agent": true
                },
                "property_id": "9479068516",
                "photos": null,
                "flags": {
                    "is_new_construction": null,
                    "is_for_rent": null,
                    "is_subdivision": null,
                    "is_contingent": null,
                    "is_price_reduced": null,
                    "is_pending": null,
                    "is_foreclosure": null,
                    "is_plan": null,
                    "is_coming_soon": null,
                    "is_new_listing": null
                },
                "community": null,
                "products": null,
                "virtual_tours": null,
                "other_listings": {
                    "rdc": [
                        {
                            "listing_id": "2958935192",
                            "listing_key": null,
                            "status": "sold",
                            "primary": null
                        }
                    ]
                },
                "listing_id": null,
                "price_reduced_amount": null,
                "location": {
                    "address": {
                        "postal_code": "99801",
                        "state": "Alaska",
                        "coordinate": null,
                        "city": "Juneau",
                        "state_code": "AK",
                        "line": "4515 Glacier Hwy"
                    },
                    "street_view_url": "https://maps.googleapis.com/maps/api/streetview?channel=rdc-streetview&client=gme-movesalesinc&location=4515%20Glacier%20Hwy%2C%20Juneau%2C%20AK%2099801&size=640x480&source=outdoor&signature=ql3QFXXYvrKARTE42MC9p2Egtdg=",
                    "county": {
                        "fips_code": null,
                        "name": "Juneau"
                    }
                },
                "matterport": false
            },
            {
                "primary_photo": null,
                "last_update_date": null,
                "source": null,
                "tags": null,
                "permalink": "17850-Point-Stephens-Rd_Juneau_AK_99801_M98793-31943",
                "status": "sold",
                "list_date": null,
                "open_houses": null,
                "description": {
                    "year_built": null,
                    "baths_3qtr": null,
                    "sold_date": "2023-08-21",
                    "sold_price": null,
                    "baths_full": null,
                    "name": null,
                    "baths_half": null,
                    "lot_sqft": null,
                    "sqft": null,
                    "baths": null,
                    "sub_type": null,
                    "baths_1qtr": null,
                    "garage": null,
                    "stories": null,
                    "beds": null,
                    "type": null
                },
                "branding": [
                    {
                        "name": null,
                        "photo": null,
                        "type": "Office"
                    }
                ],
                "list_price": null,
                "lead_attributes": {
                    "show_contact_an_agent": true
                },
                "property_id": "9879331943",
                "photos": null,
                "flags": {
                    "is_new_construction": null,
                    "is_for_rent": null,
                    "is_subdivision": null,
                    "is_contingent": null,
                    "is_price_reduced": null,
                    "is_pending": null,
                    "is_foreclosure": null,
                    "is_plan": null,
                    "is_coming_soon": null,
                    "is_new_listing": null
                },
                "community": null,
                "products": null,
                "virtual_tours": null,
                "other_listings": {
                    "rdc": [
                        {
                            "listing_id": "2958925235",
                            "listing_key": null,
                            "status": "sold",
                            "primary": null
                        }
                    ]
                },
                "listing_id": null,
                "price_reduced_amount": null,
                "location": {
                    "address": {
                        "postal_code": "99801",
                        "state": "Alaska",
                        "coordinate": null,
                        "city": "Juneau",
                        "state_code": "AK",
                        "line": "17850 Point Stephens Rd"
                    },
                    "street_view_url": "https://maps.googleapis.com/maps/api/streetview?channel=rdc-streetview&client=gme-movesalesinc&location=17850%20Point%20Stephens%20Rd%2C%20Juneau%2C%20AK%2099801&size=640x480&source=outdoor&signature=sSYpYLhHnOQYJTloXVnGAmy2ydY=",
                    "county": {
                        "fips_code": null,
                        "name": "Juneau"
                    }
                },
                "matterport": false
            },
            {
                "primary_photo": null,
                "last_update_date": null,
                "source": null,
                "tags": null,
                "permalink": "9951-Stephen-Richards-Memorial-Dr_Juneau_AK_99801_M95216-39574",
                "status": "sold",
                "list_date": null,
                "open_houses": null,
                "description": {
                    "year_built": null,
                    "baths_3qtr": null,
                    "sold_date": "2023-08-21",
                    "sold_price": null,
                    "baths_full": null,
                    "name": null,
                    "baths_half": null,
                    "lot_sqft": null,
                    "sqft": null,
                    "baths": null,
                    "sub_type": null,
                    "baths_1qtr": null,
                    "garage": null,
                    "stories": null,
                    "beds": null,
                    "type": null
                },
                "branding": [
                    {
                        "name": null,
                        "photo": null,
                        "type": "Office"
                    }
                ],
                "list_price": null,
                "lead_attributes": {
                    "show_contact_an_agent": true
                },
                "property_id": "9521639574",
                "photos": null,
                "flags": {
                    "is_new_construction": null,
                    "is_for_rent": null,
                    "is_subdivision": null,
                    "is_contingent": null,
                    "is_price_reduced": null,
                    "is_pending": null,
                    "is_foreclosure": null,
                    "is_plan": null,
                    "is_coming_soon": null,
                    "is_new_listing": null
                },
                "community": null,
                "products": null,
                "virtual_tours": null,
                "other_listings": {
                    "rdc": [
                        {
                            "listing_id": "2958924367",
                            "listing_key": null,
                            "status": "sold",
                            "primary": null
                        }
                    ]
                },
                "listing_id": null,
                "price_reduced_amount": null,
                "location": {
                    "address": {
                        "postal_code": "99801",
                        "state": "Alaska",
                        "coordinate": null,

'dict' = file contains a single JSON object (dictionary).

In [74]:
#REMOVE? 

# loop over all files and into a dataframe

# Relative path to the data folder
data_folder = '../data'

# Get all JSON files in the folder
json_files = [f for f in os.listdir(data_folder) if f.endswith('.json')]

# Store DataFrames
all_dfs = []

# Loop over each file, load and normalize
for filename in json_files:
    file_path = os.path.join(data_folder, filename)
    with open(file_path) as f:
        data = json.load(f)
        df = pd.json_normalize(data)
        all_dfs.append(df)

# Combine all into a single DataFrame
full_df = pd.concat(all_dfs, ignore_index=True)

In [75]:
#REMOVE? 

# Preview the data
print(full_df.head())

   status  data.total  data.count  \
0     200           8           8
1     200           8           7
2     200           8           6
3     200           8           5
4     200           8           4

                                        data.results
0  [{'primary_photo': {'href': 'https://ap.rdcpix...
1  [{'primary_photo': None, 'last_update_date': N...
2  [{'primary_photo': None, 'last_update_date': N...
3  [{'primary_photo': None, 'last_update_date': N...
4  [{'primary_photo': None, 'last_update_date': N...

In [76]:
#REMOVE? 
full_df

,status,data.total,data.count,data.results
0,200,8,8,[{'primary_photo': {'href': 'https://ap.rdcpix...
1,200,8,7,"[{'primary_photo': None, 'last_update_date': N..."
2,200,8,6,"[{'primary_photo': None, 'last_update_date': N..."
3,200,8,5,"[{'primary_photo': None, 'last_update_date': N..."
4,200,8,4,"[{'primary_photo': None, 'last_update_date': N..."
...,...,...,...,...
245,200,0,0,NaN
246,200,0,0,NaN
247,200,0,0,NaN
248,200,0,0,NaN
249,200,0,0,NaN

In [77]:
#KEEP? START CODE UPDATED REMOVED NORMALIZE 

# load one file first to see what type of data and attributes
with open('../data/AK_Juneau_0.json', 'r') as f:
    data = json.load(f)

In [78]:
#KEEP? UPDATED REMOVED NORMALIZE

print(type(data))         # one file attribute
print(data.keys())        # top-level keys

<class 'dict'>
dict_keys(['status', 'data'])

In [79]:
# KEEP? UPDATED REMOVED NORMALIZE

import json
#load json object
with open('../data/AK_Juneau_0.json') as f:
    nested_json = json.load(f)
print(nested_json)

#attribute of data
print(type(nested_json))

{'status': 200, 'data': {'total': 8, 'count': 8, 'results': [{'primary_photo': {'href': 'https://ap.rdcpix.com/07097d34c98a59ebb799688986ef271dl-m2867511255s-w1024_h768.jpg'}, 'last_update_date': '2023-09-19T20:52:50Z', 'source': {'plan_id': None, 'agents': [{'office_name': 'EXP Realty LLC - Southeast Alaska'}, {'office_name': 'Non-Member Office'}], 'spec_id': None, 'type': 'mls'}, 'tags': ['carport', 'community_outdoor_space', 'cul_de_sac', 'family_room', 'hardwood_floors', 'hill_or_mountain_view', 'recreation_facilities', 'rv_or_boat_parking', 'basement', 'garage_1_or_more', 'two_or_more_stories', 'big_yard', 'high_ceiling', 'efficient', 'trails', 'shopping'], 'permalink': '9453-Herbert-Pl_Juneau_AK_99801_M90744-30767', 'status': 'sold', 'list_date': '2023-06-29T21:16:25.000000Z', 'open_houses': None, 'description': {'year_built': 1963, 'baths_3qtr': None, 'sold_date': '2023-09-18', 'sold_price': None, 'baths_full': 2, 'name': None, 'baths_half': None, 'lot_sqft': 10454, 'sqft': 1821, 'baths': 2, 'sub_type': None, 'baths_1qtr': None, 'garage': 1, 'stories': None, 'beds': 3, 'type': 'single_family'}, 'branding': [{'name': 'EXP Realty LLC - Southeast Alaska', 'photo': None, 'type': 'Office'}], 'list_price': 554950, 'lead_attributes': {'show_contact_an_agent': True}, 'property_id': '9074430767', 'photos': [{'tags': [{'label': 'house_view', 'probability': 0.9931892156601}, {'label': 'road_view', 'probability': 0.84215885400772}, {'label': 'house_view', 'probability': 0.93829786777496}], 'href': 'https://ap.rdcpix.com/07097d34c98a59ebb799688986ef271dl-m2867511255s-w1024_h768.jpg'}, {'tags': [{'label': 'living_room', 'probability': 0.99856203794479}], 'href': 'https://ap.rdcpix.com/07097d34c98a59ebb799688986ef271dl-m2021977128s-w1024_h768.jpg'}, {'tags': [{'label': 'dining_room', 'probability': 0.99998116493225}], 'href': 'https://ap.rdcpix.com/07097d34c98a59ebb799688986ef271dl-m2832281708s-w1024_h768.jpg'}, {'tags': [{'label': 'unknown', 'probability': 0.91968685388565}], 'href': 'https://ap.rdcpix.com/07097d34c98a59ebb799688986ef271dl-m2250208436s-w1024_h768.jpg'}, {'tags': [{'label': 'kitchen', 'probability': 0.99999892711639}], 'href': 'https://ap.rdcpix.com/07097d34c98a59ebb799688986ef271dl-m4264543754s-w1024_h768.jpg'}], 'flags': {'is_new_construction': None, 'is_for_rent': None, 'is_subdivision': None, 'is_contingent': None, 'is_price_reduced': False, 'is_pending': None, 'is_foreclosure': None, 'is_plan': None, 'is_coming_soon': None, 'is_new_listing': False}, 'community': None, 'products': {'brand_name': 'basic_opt_in'}, 'virtual_tours': None, 'other_listings': {'rdc': [{'listing_id': '2957241843', 'listing_key': None, 'status': 'sold', 'primary': True}, {'listing_id': '2957022863', 'listing_key': None, 'status': 'off_market', 'primary': None}]}, 'listing_id': '2957241843', 'price_reduced_amount': 45000, 'location': {'address': {'postal_code': '99801', 'state': 'Alaska', 'coordinate': {'lon': -134.59372, 'lat': 58.36395}, 'city': 'Juneau', 'state_code': 'AK', 'line': '9453 Herbert Pl'}, 'street_view_url': 'https://maps.googleapis.com/maps/api/streetview?channel=rdc-streetview&client=gme-movesalesinc&location=9453%20Herbert%20Pl%2C%20Juneau%2C%20AK%2099801&size=640x480&source=outdoor&signature=OPv224SjFIJWgVKAXZKZXNYEdNQ=', 'county': {'fips_code': None, 'name': 'Juneau'}}, 'matterport': False}, {'primary_photo': None, 'last_update_date': None, 'source': None, 'tags': None, 'permalink': '8477-Thunder-Mountain-Rd_Juneau_AK_99801_M94249-83842', 'status': 'sold', 'list_date': None, 'open_houses': None, 'description': {'year_built': None, 'baths_3qtr': None, 'sold_date': '2023-08-22', 'sold_price': None, 'baths_full': None, 'name': None, 'baths_half': None, 'lot_sqft': None, 'sqft': None, 'baths': None, 'sub_type': None, 'baths_1qtr': None, 'garage': None, 'stories': None, 'beds': None, 'type': None}, 'branding': [{'name': None, 'photo': None, 'type': 'Office'}], 'list_price': None, 'lead_attributes': {'show_contact_an_agent': True}, 'property_id': '9424983842', 'photos': None, 'flags': {'is_new_construction': None, 'is_for_rent': None, 'is_subdivision': None, 'is_contingent': None, 'is_price_reduced': None, 'is_pending': None, 'is_foreclosure': None, 'is_plan': None, 'is_coming_soon': None, 'is_new_listing': None}, 'community': None, 'products': None, 'virtual_tours': None, 'other_listings': {'rdc': [{'listing_id': '2958935271', 'listing_key': None, 'status': 'sold', 'primary': None}]}, 'listing_id': None, 'price_reduced_amount': None, 'location': {'address': {'postal_code': '99801', 'state': 'Alaska', 'coordinate': None, 'city': 'Juneau', 'state_code': 'AK', 'line': '8477 Thunder Mountain Rd'}, 'street_view_url': 'https://maps.googleapis.com/maps/api/streetview?channel=rdc-streetview&client=gme-movesalesinc&location=8477%20Thunder%20Mountain%20Rd%2C%20Juneau%2C%20AK%2099801&size=640x480&source=outdoor&signature=X_IwZxbWaAsrSLHsERLq_64YJhc=', 'county': {'fips_code': None, 'name': 'Juneau'}}, 'matterport': False}, {'primary_photo': None, 'last_update_date': None, 'source': None, 'tags': None, 'permalink': '4515-Glacier-Hwy_Juneau_AK_99801_M94790-68516', 'status': 'sold', 'list_date': None, 'open_houses': None, 'description': {'year_built': None, 'baths_3qtr': None, 'sold_date': '2023-08-22', 'sold_price': None, 'baths_full': None, 'name': None, 'baths_half': None, 'lot_sqft': None, 'sqft': None, 'baths': None, 'sub_type': None, 'baths_1qtr': None, 'garage': None, 'stories': None, 'beds': None, 'type': None}, 'branding': [{'name': None, 'photo': None, 'type': 'Office'}], 'list_price': None, 'lead_attributes': {'show_contact_an_agent': True}, 'property_id': '9479068516', 'photos': None, 'flags': {'is_new_construction': None, 'is_for_rent': None, 'is_subdivision': None, 'is_contingent': None, 'is_price_reduced': None, 'is_pending': None, 'is_foreclosure': None, 'is_plan': None, 'is_coming_soon': None, 'is_new_listing': None}, 'community': None, 'products': None, 'virtual_tours': None, 'other_listings': {'rdc': [{'listing_id': '2958935192', 'listing_key': None, 'status': 'sold', 'primary': None}]}, 'listing_id': None, 'price_reduced_amount': None, 'location': {'address': {'postal_code': '99801', 'state': 'Alaska', 'coordinate': None, 'city': 'Juneau', 'state_code': 'AK', 'line': '4515 Glacier Hwy'}, 'street_view_url': 'https://maps.googleapis.com/maps/api/streetview?channel=rdc-streetview&client=gme-movesalesinc&location=4515%20Glacier%20Hwy%2C%20Juneau%2C%20AK%2099801&size=640x480&source=outdoor&signature=ql3QFXXYvrKARTE42MC9p2Egtdg=', 'county': {'fips_code': None, 'name': 'Juneau'}}, 'matterport': False}, {'primary_photo': None, 'last_update_date': None, 'source': None, 'tags': None, 'permalink': '17850-Point-Stephens-Rd_Juneau_AK_99801_M98793-31943', 'status': 'sold', 'list_date': None, 'open_houses': None, 'description': {'year_built': None, 'baths_3qtr': None, 'sold_date': '2023-08-21', 'sold_price': None, 'baths_full': None, 'name': None, 'baths_half': None, 'lot_sqft': None, 'sqft': None, 'baths': None, 'sub_type': None, 'baths_1qtr': None, 'garage': None, 'stories': None, 'beds': None, 'type': None}, 'branding': [{'name': None, 'photo': None, 'type': 'Office'}], 'list_price': None, 'lead_attributes': {'show_contact_an_agent': True}, 'property_id': '9879331943', 'photos': None, 'flags': {'is_new_construction': None, 'is_for_rent': None, 'is_subdivision': None, 'is_contingent': None, 'is_price_reduced': None, 'is_pending': None, 'is_foreclosure': None, 'is_plan': None, 'is_coming_soon': None, 'is_new_listing': None}, 'community': None, 'products': None, 'virtual_tours': None, 'other_listings': {'rdc': [{'listing_id': '2958925235', 'listing_key': None, 'status': 'sold', 'primary': None}]}, 'listing_id': None, 'price_reduced_amount': None, 'location': {'address': {'postal_code': '99801', 'state': 'Alaska', 'coordinate': None, 'city': 'Juneau', 'state_code': 'AK', 'line': '17850 Point Stephens Rd'}, 'street_view_url': 'https://maps.googleapis.com/maps/api/streetview?channel=rdc-streetview&client=gme-movesalesinc&location=17850%20Point%20Stephens%20Rd%2C%20Juneau%2C%20AK%2099801&size=640x480&source=outdoor&signature=sSYpYLhHnOQYJTloXVnGAmy2ydY=', 'county': {'fips_code': None, 'name': 'Juneau'}}, 'matterport': False}, {'primary_photo': None, 'last_update_date': None, 'source': None, 'tags': None, 'permalink': '9951-Stephen-Richards-Memorial-Dr_Juneau_AK_99801_M95216-39574', 'status': 'sold', 'list_date': None, 'open_houses': None, 'description': {'year_built': None, 'baths_3qtr': None, 'sold_date': '2023-08-21', 'sold_price': None, 'baths_full': None, 'name': None, 'baths_half': None, 'lot_sqft': None, 'sqft': None, 'baths': None, 'sub_type': None, 'baths_1qtr': None, 'garage': None, 'stories': None, 'beds': None, 'type': None}, 'branding': [{'name': None, 'photo': None, 'type': 'Office'}], 'list_price': None, 'lead_attributes': {'show_contact_an_agent': True}, 'property_id': '9521639574', 'photos': None, 'flags': {'is_new_construction': None, 'is_for_rent': None, 'is_subdivision': None, 'is_contingent': None, 'is_price_reduced': None, 'is_pending': None, 'is_foreclosure': None, 'is_plan': None, 'is_coming_soon': None, 'is_new_listing': None}, 'community': None, 'products': None, 'virtual_tours': None, 'other_listings': {'rdc': [{'listing_id': '2958924367', 'listing_key': None, 'status': 'sold', 'primary': None}]}, 'listing_id': None, 'price_reduced_amount': None, 'location': {'address': {'postal_code': '99801', 'state': 'Alaska', 'coordinate': None, 'city': 'Juneau', 'state_code': 'AK', 'line': '9951 Stephen Richards Memorial Dr'}, 'street_view_url': 'https://maps.googleapis.com/maps/api/streetview?channel=rdc-streetview&client=gme-movesalesinc&location=9951%20Stephen%20Richards%20Memorial%20Dr%2C%20Juneau%2C%20AK%2099801&size=640x480&source=outdoor&signature=al_a0xZ7J3DLCuNg4YDdfq3TZKE=', 'county': {'fips_code': None, 'name': 'Juneau'}}, 'matterport': False}, {'primary_photo': None, 'last_update_date': '2023-08-04T22:49:14Z', 'source': {'plan_id': None, 'agents': [{'office_name': 'Platinum Keller Williams Realty Alaska Group'}, {'office_name': 'Platinum Keller Williams Realty Alaska Group'}], 'spec_id': None, 'type': 'mls'}, 'tags': ['carport', 'hill_or_mountain_view', 'ocean_view', 'single_story', 'waterfront', 'open_floor_plan', 'floor_plan', 'rental_property', 'furniture', 'new_roof', 'beach'], 'permalink': '11909-Glacier-Hwy-Apt-105_Juneau_AK_99801_M74123-09719', 'status': 'sold', 'list_date': '2023-08-21T21:01:22.000000Z', 'open_houses': None, 'description': {'year_built': 1969, 'baths_3qtr': None, 'sold_date': '2023-08-04', 'sold_price': None, 'baths_full': 1, 'name': None, 'baths_half': None, 'lot_sqft': None, 'sqft': 950, 'baths': 1, 'sub_type': 'condo', 'baths_1qtr': None, 'garage': None, 'stories': None, 'beds': 2, 'type': 'condos'}, 'branding': [{'name': 'Platinum Keller Williams Realty Alaska Group', 'photo': None, 'type': 'Office'}], 'list_price': 415000, 'lead_attributes': {'show_contact_an_agent': True}, 'property_id': '7412309719', 'photos': None, 'flags': {'is_new_construction': None, 'is_for_rent': None, 'is_subdivision': None, 'is_contingent': None, 'is_price_reduced': None, 'is_pending': None, 'is_foreclosure': None, 'is_plan': None, 'is_coming_soon': None, 'is_new_listing': False}, 'community': None, 'products': {'brand_name': 'basic_opt_in'}, 'virtual_tours': None, 'other_listings': {'rdc': [{'listing_id': '2958925334', 'listing_key': None, 'status': 'sold', 'primary': None}]}, 'listing_id': '2958925334', 'price_reduced_amount': None, 'location': {'address': {'postal_code': '99801', 'state': 'Alaska', 'coordinate': {'lon': -134.649067, 'lat': 58.386651}, 'city': 'Juneau', 'state_code': 'AK', 'line': '11909 Glacier Hwy Apt 105'}, 'street_view_url': 'https://maps.googleapis.com/maps/api/streetview?channel=rdc-streetview&client=gme-movesalesinc&location=11909%20Glacier%20Hwy%20Apt%20105%2C%20Juneau%2C%20AK%2099801&size=640x480&source=outdoor&signature=cokn0o0X46-BL_yReSTViMXMYh4=', 'county': {'fips_code': None, 'name': 'Juneau'}}, 'matterport': False}, {'primary_photo': None, 'last_update_date': '2023-08-04T21:31:44Z', 'source': {'plan_id': None, 'agents': [{'office_name': 'Southeast Alaska Real Estate'}, {'office_name': 'Platinum Keller Williams Realty Alaska Group'}], 'spec_id': None, 'type': 'mls'}, 'tags': ['city_view', 'community_outdoor_space', 'community_security_features', 'corner_lot', 'hill_or_mountain_view', 'lake_view', 'ocean_view', 'river_view', 'spa_or_hot_tub', 'garage_1_or_more', 'garage_2_or_more', 'two_or_more_stories', 'vaulted_ceiling', 'media_room', 'ensuite', 'private_courtyard', 'trails'], 'permalink': '808-5th-St_Juneau_AK_99801_M76604-90777', 'status': 'sold', 'list_date': '2023-08-21T21:01:22.000000Z', 'open_houses': None, 'description': {'year_built': 1920, 'baths_3qtr': None, 'sold_date': '2023-08-03', 'sold_price': None, 'baths_full': 3, 'name': None, 'baths_half': None, 'lot_sqft': 5875, 'sqft': 3860, 'baths': 3, 'sub_type': None, 'baths_1qtr': None, 'garage': 2, 'stories': None, 'beds': 5, 'type': 'single_family'}, 'branding': [{'name': 'Southeast Alaska Real Estate', 'photo': None, 'type': 'Office'}], 'list_price': 835000, 'lead_attributes': {'show_contact_an_agent': True}, 'property_id': '7660490777', 'photos': None, 'flags': {'is_new_construction': None, 'is_for_rent': None, 'is_subdivision': None, 'is_contingent': None, 'is_price_reduced': None, 'is_pending': None, 'is_foreclosure': None, 'is_plan': None, 'is_coming_soon': None, 'is_new_listing': False}, 'community': None, 'products': {'brand_name': 'essentials'}, 'virtual_tours': None, 'other_listings': {'rdc': [{'listing_id': '2958924095', 'listing_key': None, 'status': 'sold', 'primary': None}, {'listing_id': '2941727948', 'listing_key': None, 'status': 'off_market', 'primary': None}, {'listing_id': '2641864483', 'listing_key': None, 'status': 'off_market', 'primary': None}]}, 'listing_id': '2958924095', 'price_reduced_amount': None, 'location': {'address': {'postal_code': '99801', 'state': 'Alaska', 'coordinate': {'lon': -134.403991, 'lat': 58.304573}, 'city': 'Juneau', 'state_code': 'AK', 'line': '808 5th St'}, 'street_view_url': 'https://maps.googleapis.com/maps/api/streetview?channel=rdc-streetview&client=gme-movesalesinc&location=808%205th%20St%2C%20Juneau%2C%20AK%2099801&size=640x480&source=outdoor&signature=tV-uGGz9zKJiafcI3GDfgu9GV_I=', 'county': {'fips_code': None, 'name': 'Juneau'}}, 'matterport': False}, {'primary_photo': None, 'last_update_date': '2023-12-07', 'source': None, 'tags': None, 'permalink': '4446-Trafalgar-Ave_Juneau_AK_99801_M82741-21172', 'status': 'sold', 'list_date': None, 'open_houses': None, 'description': {'year_built': 2002, 'baths_3qtr': None, 'sold_date': '2023-07-21', 'sold_price': None, 'baths_full': 2, 'name': None, 'baths_half': None, 'lot_sqft': 7476, 'sqft': 1375, 'baths': 2, 'sub_type': None, 'baths_1qtr': None, 'garage': None, 'stories': 1, 'beds': 3, 'type': 'mobile'}, 'branding': [{'name': None, 'photo': None, 'type': 'Office'}], 'list_price': None, 'lead_attributes': {'show_contact_an_agent': True}, 'property_id': '8274121172', 'photos': None, 'flags': {'is_new_construction': None, 'is_for_rent': None, 'is_subdivision': None, 'is_contingent': None, 'is_price_reduced': None, 'is_pending': None, 'is_foreclosure': None, 'is_plan': None, 'is_coming_soon': None, 'is_new_listing': None}, 'community': None, 'products': None, 'virtual_tours': None, 'other_listings': None, 'listing_id': None, 'price_reduced_amount': None, 'location': {'address': {'postal_code': '99801', 'state': 'Alaska', 'coordinate': {'lon': -134.553717, 'lat': 58.396178}, 'city': 'Juneau', 'state_code': 'AK', 'line': '4446 Trafalgar Ave'}, 'street_view_url': 'https://maps.googleapis.com/maps/api/streetview?channel=rdc-streetview&client=gme-movesalesinc&location=4446%20Trafalgar%20Ave%2C%20Juneau%2C%20AK%2099801&size=640x480&source=outdoor&signature=V24OM91aZHY5-heG-dKObuuYh4c=', 'county': {'fips_code': None, 'name': 'Juneau'}}, 'matterport': False}]}}
<class 'dict'>

In [81]:
#KEEP? UPDATED REMOVED NORMALIZE

# load type of data and attributes of one file

# local JSON file
file_path = '../data/AK_Juneau_0.json'
with open(file_path, 'r') as f:
    data = json.load(f) 
    print(json.dumps(data, indent=4))

#attribute of data
print(type(data))

{
    "status": 200,
    "data": {
        "total": 8,
        "count": 8,
        "results": [
            {
                "primary_photo": {
                    "href": "https://ap.rdcpix.com/07097d34c98a59ebb799688986ef271dl-m2867511255s-w1024_h768.jpg"
                },
                "last_update_date": "2023-09-19T20:52:50Z",
                "source": {
                    "plan_id": null,
                    "agents": [
                        {
                            "office_name": "EXP Realty LLC - Southeast Alaska"
                        },
                        {
                            "office_name": "Non-Member Office"
                        }
                    ],
                    "spec_id": null,
                    "type": "mls"
                },
                "tags": [
                    "carport",
                    "community_outdoor_space",
                    "cul_de_sac",
                    "family_room",
                    "hardwood_floors",
                    "hill_or_mountain_view",
                    "recreation_facilities",
                    "rv_or_boat_parking",
                    "basement",
                    "garage_1_or_more",
                    "two_or_more_stories",
                    "big_yard",
                    "high_ceiling",
                    "efficient",
                    "trails",
                    "shopping"
                ],
                "permalink": "9453-Herbert-Pl_Juneau_AK_99801_M90744-30767",
                "status": "sold",
                "list_date": "2023-06-29T21:16:25.000000Z",
                "open_houses": null,
                "description": {
                    "year_built": 1963,
                    "baths_3qtr": null,
                    "sold_date": "2023-09-18",
                    "sold_price": null,
                    "baths_full": 2,
                    "name": null,
                    "baths_half": null,
                    "lot_sqft": 10454,
                    "sqft": 1821,
                    "baths": 2,
                    "sub_type": null,
                    "baths_1qtr": null,
                    "garage": 1,
                    "stories": null,
                    "beds": 3,
                    "type": "single_family"
                },
                "branding": [
                    {
                        "name": "EXP Realty LLC - Southeast Alaska",
                        "photo": null,
                        "type": "Office"
                    }
                ],
                "list_price": 554950,
                "lead_attributes": {
                    "show_contact_an_agent": true
                },
                "property_id": "9074430767",
                "photos": [
                    {
                        "tags": [
                            {
                                "label": "house_view",
                                "probability": 0.9931892156601
                            },
                            {
                                "label": "road_view",
                                "probability": 0.84215885400772
                            },
                            {
                                "label": "house_view",
                                "probability": 0.93829786777496
                            }
                        ],
                        "href": "https://ap.rdcpix.com/07097d34c98a59ebb799688986ef271dl-m2867511255s-w1024_h768.jpg"
                    },
                    {
                        "tags": [
                            {
                                "label": "living_room",
                                "probability": 0.99856203794479
                            }
                        ],
                        "href": "https://ap.rdcpix.com/07097d34c98a59ebb799688986ef271dl-m2021977128s-w1024_h768.jpg"
                    },
                    {
                        "tags": [
                            {
                                "label": "dining_room",
                                "probability": 0.99998116493225
                            }
                        ],
                        "href": "https://ap.rdcpix.com/07097d34c98a59ebb799688986ef271dl-m2832281708s-w1024_h768.jpg"
                    },
                    {
                        "tags": [
                            {
                                "label": "unknown",
                                "probability": 0.91968685388565
                            }
                        ],
                        "href": "https://ap.rdcpix.com/07097d34c98a59ebb799688986ef271dl-m2250208436s-w1024_h768.jpg"
                    },
                    {
                        "tags": [
                            {
                                "label": "kitchen",
                                "probability": 0.99999892711639
                            }
                        ],
                        "href": "https://ap.rdcpix.com/07097d34c98a59ebb799688986ef271dl-m4264543754s-w1024_h768.jpg"
                    }
                ],
                "flags": {
                    "is_new_construction": null,
                    "is_for_rent": null,
                    "is_subdivision": null,
                    "is_contingent": null,
                    "is_price_reduced": false,
                    "is_pending": null,
                    "is_foreclosure": null,
                    "is_plan": null,
                    "is_coming_soon": null,
                    "is_new_listing": false
                },
                "community": null,
                "products": {
                    "brand_name": "basic_opt_in"
                },
                "virtual_tours": null,
                "other_listings": {
                    "rdc": [
                        {
                            "listing_id": "2957241843",
                            "listing_key": null,
                            "status": "sold",
                            "primary": true
                        },
                        {
                            "listing_id": "2957022863",
                            "listing_key": null,
                            "status": "off_market",
                            "primary": null
                        }
                    ]
                },
                "listing_id": "2957241843",
                "price_reduced_amount": 45000,
                "location": {
                    "address": {
                        "postal_code": "99801",
                        "state": "Alaska",
                        "coordinate": {
                            "lon": -134.59372,
                            "lat": 58.36395
                        },
                        "city": "Juneau",
                        "state_code": "AK",
                        "line": "9453 Herbert Pl"
                    },
                    "street_view_url": "https://maps.googleapis.com/maps/api/streetview?channel=rdc-streetview&client=gme-movesalesinc&location=9453%20Herbert%20Pl%2C%20Juneau%2C%20AK%2099801&size=640x480&source=outdoor&signature=OPv224SjFIJWgVKAXZKZXNYEdNQ=",
                    "county": {
                        "fips_code": null,
                        "name": "Juneau"
                    }
                },
                "matterport": false
            },
            {
                "primary_photo": null,
                "last_update_date": null,
                "source": null,
                "tags": null,
                "permalink": "8477-Thunder-Mountain-Rd_Juneau_AK_99801_M94249-83842",
                "status": "sold",
                "list_date": null,
                "open_houses": null,
                "description": {
                    "year_built": null,
                    "baths_3qtr": null,
                    "sold_date": "2023-08-22",
                    "sold_price": null,
                    "baths_full": null,
                    "name": null,
                    "baths_half": null,
                    "lot_sqft": null,
                    "sqft": null,
                    "baths": null,
                    "sub_type": null,
                    "baths_1qtr": null,
                    "garage": null,
                    "stories": null,
                    "beds": null,
                    "type": null
                },
                "branding": [
                    {
                        "name": null,
                        "photo": null,
                        "type": "Office"
                    }
                ],
                "list_price": null,
                "lead_attributes": {
                    "show_contact_an_agent": true
                },
                "property_id": "9424983842",
                "photos": null,
                "flags": {
                    "is_new_construction": null,
                    "is_for_rent": null,
                    "is_subdivision": null,
                    "is_contingent": null,
                    "is_price_reduced": null,
                    "is_pending": null,
                    "is_foreclosure": null,
                    "is_plan": null,
                    "is_coming_soon": null,
                    "is_new_listing": null
                },
                "community": null,
                "products": null,
                "virtual_tours": null,
                "other_listings": {
                    "rdc": [
                        {
                            "listing_id": "2958935271",
                            "listing_key": null,
                            "status": "sold",
                            "primary": null
                        }
                    ]
                },
                "listing_id": null,
                "price_reduced_amount": null,
                "location": {
                    "address": {
                        "postal_code": "99801",
                        "state": "Alaska",
                        "coordinate": null,
                        "city": "Juneau",
                        "state_code": "AK",
                        "line": "8477 Thunder Mountain Rd"
                    },
                    "street_view_url": "https://maps.googleapis.com/maps/api/streetview?channel=rdc-streetview&client=gme-movesalesinc&location=8477%20Thunder%20Mountain%20Rd%2C%20Juneau%2C%20AK%2099801&size=640x480&source=outdoor&signature=X_IwZxbWaAsrSLHsERLq_64YJhc=",
                    "county": {
                        "fips_code": null,
                        "name": "Juneau"
                    }
                },
                "matterport": false
            },
            {
                "primary_photo": null,
                "last_update_date": null,
                "source": null,
                "tags": null,
                "permalink": "4515-Glacier-Hwy_Juneau_AK_99801_M94790-68516",
                "status": "sold",
                "list_date": null,
                "open_houses": null,
                "description": {
                    "year_built": null,
                    "baths_3qtr": null,
                    "sold_date": "2023-08-22",
                    "sold_price": null,
                    "baths_full": null,
                    "name": null,
                    "baths_half": null,
                    "lot_sqft": null,
                    "sqft": null,
                    "baths": null,
                    "sub_type": null,
                    "baths_1qtr": null,
                    "garage": null,
                    "stories": null,
                    "beds": null,
                    "type": null
                },
                "branding": [
                    {
                        "name": null,
                        "photo": null,
                        "type": "Office"
                    }
                ],
                "list_price": null,
                "lead_attributes": {
                    "show_contact_an_agent": true
                },
                "property_id": "9479068516",
                "photos": null,
                "flags": {
                    "is_new_construction": null,
                    "is_for_rent": null,
                    "is_subdivision": null,
                    "is_contingent": null,
                    "is_price_reduced": null,
                    "is_pending": null,
                    "is_foreclosure": null,
                    "is_plan": null,
                    "is_coming_soon": null,
                    "is_new_listing": null
                },
                "community": null,
                "products": null,
                "virtual_tours": null,
                "other_listings": {
                    "rdc": [
                        {
                            "listing_id": "2958935192",
                            "listing_key": null,
                            "status": "sold",
                            "primary": null
                        }
                    ]
                },
                "listing_id": null,
                "price_reduced_amount": null,
                "location": {
                    "address": {
                        "postal_code": "99801",
                        "state": "Alaska",
                        "coordinate": null,
                        "city": "Juneau",
                        "state_code": "AK",
                        "line": "4515 Glacier Hwy"
                    },
                    "street_view_url": "https://maps.googleapis.com/maps/api/streetview?channel=rdc-streetview&client=gme-movesalesinc&location=4515%20Glacier%20Hwy%2C%20Juneau%2C%20AK%2099801&size=640x480&source=outdoor&signature=ql3QFXXYvrKARTE42MC9p2Egtdg=",
                    "county": {
                        "fips_code": null,
                        "name": "Juneau"
                    }
                },
                "matterport": false
            },
            {
                "primary_photo": null,
                "last_update_date": null,
                "source": null,
                "tags": null,
                "permalink": "17850-Point-Stephens-Rd_Juneau_AK_99801_M98793-31943",
                "status": "sold",
                "list_date": null,
                "open_houses": null,
                "description": {
                    "year_built": null,
                    "baths_3qtr": null,
                    "sold_date": "2023-08-21",
                    "sold_price": null,
                    "baths_full": null,
                    "name": null,
                    "baths_half": null,
                    "lot_sqft": null,
                    "sqft": null,
                    "baths": null,
                    "sub_type": null,
                    "baths_1qtr": null,
                    "garage": null,
                    "stories": null,
                    "beds": null,
                    "type": null
                },
                "branding": [
                    {
                        "name": null,
                        "photo": null,
                        "type": "Office"
                    }
                ],
                "list_price": null,
                "lead_attributes": {
                    "show_contact_an_agent": true
                },
                "property_id": "9879331943",
                "photos": null,
                "flags": {
                    "is_new_construction": null,
                    "is_for_rent": null,
                    "is_subdivision": null,
                    "is_contingent": null,
                    "is_price_reduced": null,
                    "is_pending": null,
                    "is_foreclosure": null,
                    "is_plan": null,
                    "is_coming_soon": null,
                    "is_new_listing": null
                },
                "community": null,
                "products": null,
                "virtual_tours": null,
                "other_listings": {
                    "rdc": [
                        {
                            "listing_id": "2958925235",
                            "listing_key": null,
                            "status": "sold",
                            "primary": null
                        }
                    ]
                },
                "listing_id": null,
                "price_reduced_amount": null,
                "location": {
                    "address": {
                        "postal_code": "99801",
                        "state": "Alaska",
                        "coordinate": null,
                        "city": "Juneau",
                        "state_code": "AK",
                        "line": "17850 Point Stephens Rd"
                    },
                    "street_view_url": "https://maps.googleapis.com/maps/api/streetview?channel=rdc-streetview&client=gme-movesalesinc&location=17850%20Point%20Stephens%20Rd%2C%20Juneau%2C%20AK%2099801&size=640x480&source=outdoor&signature=sSYpYLhHnOQYJTloXVnGAmy2ydY=",
                    "county": {
                        "fips_code": null,
                        "name": "Juneau"
                    }
                },
                "matterport": false
            },
            {
                "primary_photo": null,
                "last_update_date": null,
                "source": null,
                "tags": null,
                "permalink": "9951-Stephen-Richards-Memorial-Dr_Juneau_AK_99801_M95216-39574",
                "status": "sold",
                "list_date": null,
                "open_houses": null,
                "description": {
                    "year_built": null,
                    "baths_3qtr": null,
                    "sold_date": "2023-08-21",
                    "sold_price": null,
                    "baths_full": null,
                    "name": null,
                    "baths_half": null,
                    "lot_sqft": null,
                    "sqft": null,
                    "baths": null,
                    "sub_type": null,
                    "baths_1qtr": null,
                    "garage": null,
                    "stories": null,
                    "beds": null,
                    "type": null
                },
                "branding": [
                    {
                        "name": null,
                        "photo": null,
                        "type": "Office"
                    }
                ],
                "list_price": null,
                "lead_attributes": {
                    "show_contact_an_agent": true
                },
                "property_id": "9521639574",
                "photos": null,
                "flags": {
                    "is_new_construction": null,
                    "is_for_rent": null,
                    "is_subdivision": null,
                    "is_contingent": null,
                    "is_price_reduced": null,
                    "is_pending": null,
                    "is_foreclosure": null,
                    "is_plan": null,
                    "is_coming_soon": null,
                    "is_new_listing": null
                },
                "community": null,
                "products": null,
                "virtual_tours": null,
                "other_listings": {
                    "rdc": [
                        {
                            "listing_id": "2958924367",
                            "listing_key": null,
                            "status": "sold",
                            "primary": null
                        }
                    ]
                },
                "listing_id": null,
                "price_reduced_amount": null,
                "location": {
                    "address": {
                        "postal_code": "99801",
                        "state": "Alaska",
                        "coordinate": null,

In [82]:
#KEEP? UPDATED REMOVED NORMALIZE 

print(data['data'].keys())  # subkeys under 'data' in single file

dict_keys(['total', 'count', 'results'])

In [83]:
#KEEP? UPDATED REMOVED NORMALIZE

#single item results list
results = data['data']['results']
print(type(results))           
print(len(results))            # listings
print(results[0].keys())       # Keys in first listing
print(json.dumps(results[0], indent=2))  # first result

<class 'list'>
8
dict_keys(['primary_photo', 'last_update_date', 'source', 'tags', 'permalink', 'status', 'list_date', 'open_houses', 'description', 'branding', 'list_price', 'lead_attributes', 'property_id', 'photos', 'flags', 'community', 'products', 'virtual_tours', 'other_listings', 'listing_id', 'price_reduced_amount', 'location', 'matterport'])
{
  "primary_photo": {
    "href": "https://ap.rdcpix.com/07097d34c98a59ebb799688986ef271dl-m2867511255s-w1024_h768.jpg"
  },
  "last_update_date": "2023-09-19T20:52:50Z",
  "source": {
    "plan_id": null,
    "agents": [
      {
        "office_name": "EXP Realty LLC - Southeast Alaska"
      },
      {
        "office_name": "Non-Member Office"
      }
    ],
    "spec_id": null,
    "type": "mls"
  },
  "tags": [
    "carport",
    "community_outdoor_space",
    "cul_de_sac",
    "family_room",
    "hardwood_floors",
    "hill_or_mountain_view",
    "recreation_facilities",
    "rv_or_boat_parking",
    "basement",
    "garage_1_or_more",
    "two_or_more_stories",
    "big_yard",
    "high_ceiling",
    "efficient",
    "trails",
    "shopping"
  ],
  "permalink": "9453-Herbert-Pl_Juneau_AK_99801_M90744-30767",
  "status": "sold",
  "list_date": "2023-06-29T21:16:25.000000Z",
  "open_houses": null,
  "description": {
    "year_built": 1963,
    "baths_3qtr": null,
    "sold_date": "2023-09-18",
    "sold_price": null,
    "baths_full": 2,
    "name": null,
    "baths_half": null,
    "lot_sqft": 10454,
    "sqft": 1821,
    "baths": 2,
    "sub_type": null,
    "baths_1qtr": null,
    "garage": 1,
    "stories": null,
    "beds": 3,
    "type": "single_family"
  },
  "branding": [
    {
      "name": "EXP Realty LLC - Southeast Alaska",
      "photo": null,
      "type": "Office"
    }
  ],
  "list_price": 554950,
  "lead_attributes": {
    "show_contact_an_agent": true
  },
  "property_id": "9074430767",
  "photos": [
    {
      "tags": [
        {
          "label": "house_view",
          "probability": 0.9931892156601
        },
        {
          "label": "road_view",
          "probability": 0.84215885400772
        },
        {
          "label": "house_view",
          "probability": 0.93829786777496
        }
      ],
      "href": "https://ap.rdcpix.com/07097d34c98a59ebb799688986ef271dl-m2867511255s-w1024_h768.jpg"
    },
    {
      "tags": [
        {
          "label": "living_room",
          "probability": 0.99856203794479
        }
      ],
      "href": "https://ap.rdcpix.com/07097d34c98a59ebb799688986ef271dl-m2021977128s-w1024_h768.jpg"
    },
    {
      "tags": [
        {
          "label": "dining_room",
          "probability": 0.99998116493225
        }
      ],
      "href": "https://ap.rdcpix.com/07097d34c98a59ebb799688986ef271dl-m2832281708s-w1024_h768.jpg"
    },
    {
      "tags": [
        {
          "label": "unknown",
          "probability": 0.91968685388565
        }
      ],
      "href": "https://ap.rdcpix.com/07097d34c98a59ebb799688986ef271dl-m2250208436s-w1024_h768.jpg"
    },
    {
      "tags": [
        {
          "label": "kitchen",
          "probability": 0.99999892711639
        }
      ],
      "href": "https://ap.rdcpix.com/07097d34c98a59ebb799688986ef271dl-m4264543754s-w1024_h768.jpg"
    }
  ],
  "flags": {
    "is_new_construction": null,
    "is_for_rent": null,
    "is_subdivision": null,
    "is_contingent": null,
    "is_price_reduced": false,
    "is_pending": null,
    "is_foreclosure": null,
    "is_plan": null,
    "is_coming_soon": null,
    "is_new_listing": false
  },
  "community": null,
  "products": {
    "brand_name": "basic_opt_in"
  },
  "virtual_tours": null,
  "other_listings": {
    "rdc": [
      {
        "listing_id": "2957241843",
        "listing_key": null,
        "status": "sold",
        "primary": true
      },
      {
        "listing_id": "2957022863",
        "listing_key": null,
        "status": "off_market",
        "primary": null
      }
    ]
  },
  "listing_id": "2957241843",
  "price_reduced_amount": 45000,
  "location": {
    "address": {
      "postal_code": "99801",
      "state": "Alaska",
      "coordinate": {
        "lon": -134.59372,
        "lat": 58.36395
      },
      "city": "Juneau",
      "state_code": "AK",
      "line": "9453 Herbert Pl"
    },
    "street_view_url": "https://maps.googleapis.com/maps/api/streetview?channel=rdc-streetview&client=gme-movesalesinc&location=9453%20Herbert%20Pl%2C%20Juneau%2C%20AK%2099801&size=640x480&source=outdoor&signature=OPv224SjFIJWgVKAXZKZXNYEdNQ=",
    "county": {
      "fips_code": null,
      "name": "Juneau"
    }
  },
  "matterport": false
}

In [84]:
# KEEP? UPDATED REMOVED NORMALIZE

#diagnostic workflow 
with open('../data/AK_Juneau_0.json') as f:
    data = json.load(f)

print(data.keys())
print(data['data'].keys())
print(type(data['data']['results']))     # should be list
print(data['data']['results'][0].keys()) # first result fields

dict_keys(['status', 'data'])
dict_keys(['total', 'count', 'results'])
<class 'list'>
dict_keys(['primary_photo', 'last_update_date', 'source', 'tags', 'permalink', 'status', 'list_date', 'open_houses', 'description', 'branding', 'list_price', 'lead_attributes', 'property_id', 'photos', 'flags', 'community', 'products', 'virtual_tours', 'other_listings', 'listing_id', 'price_reduced_amount', 'location', 'matterport'])

In [85]:
# KEEP? UPDATED REMOVED NORMALIZE

#all json files, including one file, into dataframe; loop through each file, extract results, convert to DF

# Path to your JSON files
data_folder = '../data'

# List all JSON files
json_files = [f for f in os.listdir(data_folder) if f.endswith('.json')]

# Store all rows from all files
all_results = []

# Loop through each file
for filename in json_files:
    file_path = os.path.join(data_folder, filename)

    with open(file_path, 'r') as f:
        data = json.load(f)

    # Safely get the list of results
    results = data.get('data', {}).get('results', [])
    
    # Append each result to the master list
    all_results.extend(results)

# Convert the full list of results to a DataFrame
df = pd.DataFrame(all_results)

# Preview
print(df.shape)
print(df.head())

(8159, 23)
                                       primary_photo      last_update_date  \
0  {'href': 'https://ap.rdcpix.com/07097d34c98a59...  2023-09-19T20:52:50Z
1                                               None                  None
2                                               None                  None
3                                               None                  None
4                                               None                  None

                                              source  \
0  {'plan_id': None, 'agents': [{'office_name': '...
1                                               None
2                                               None
3                                               None
4                                               None

                                                tags  \
0  [carport, community_outdoor_space, cul_de_sac,...
1                                               None
2                                               None
3                                               None
4                                               None

                                           permalink status  \
0       9453-Herbert-Pl_Juneau_AK_99801_M90744-30767   sold
1  8477-Thunder-Mountain-Rd_Juneau_AK_99801_M9424...   sold
2      4515-Glacier-Hwy_Juneau_AK_99801_M94790-68516   sold
3  17850-Point-Stephens-Rd_Juneau_AK_99801_M98793...   sold
4  9951-Stephen-Richards-Memorial-Dr_Juneau_AK_99...   sold

                     list_date open_houses  \
0  2023-06-29T21:16:25.000000Z        None
1                         None        None
2                         None        None
3                         None        None
4                         None        None

                                         description  \
0  {'year_built': 1963, 'baths_3qtr': None, 'sold...
1  {'year_built': None, 'baths_3qtr': None, 'sold...
2  {'year_built': None, 'baths_3qtr': None, 'sold...
3  {'year_built': None, 'baths_3qtr': None, 'sold...
4  {'year_built': None, 'baths_3qtr': None, 'sold...

                                            branding  ...  \
0  [{'name': 'EXP Realty LLC - Southeast Alaska',...  ...
1  [{'name': None, 'photo': None, 'type': 'Office'}]  ...
2  [{'name': None, 'photo': None, 'type': 'Office'}]  ...
3  [{'name': None, 'photo': None, 'type': 'Office'}]  ...
4  [{'name': None, 'photo': None, 'type': 'Office'}]  ...

                                              photos  \
0  [{'tags': [{'label': 'house_view', 'probabilit...
1                                               None
2                                               None
3                                               None
4                                               None

                                               flags community  \
0  {'is_new_construction': None, 'is_for_rent': N...      None
1  {'is_new_construction': None, 'is_for_rent': N...      None
2  {'is_new_construction': None, 'is_for_rent': N...      None
3  {'is_new_construction': None, 'is_for_rent': N...      None
4  {'is_new_construction': None, 'is_for_rent': N...      None

                         products virtual_tours  \
0  {'brand_name': 'basic_opt_in'}          None
1                            None          None
2                            None          None
3                            None          None
4                            None          None

                                      other_listings  listing_id  \
0  {'rdc': [{'listing_id': '2957241843', 'listing...  2957241843
1  {'rdc': [{'listing_id': '2958935271', 'listing...        None
2  {'rdc': [{'listing_id': '2958935192', 'listing...        None
3  {'rdc': [{'listing_id': '2958925235', 'listing...        None
4  {'rdc': [{'listing_id': '2958924367', 'listing...        None

  price_reduced_amount                                           location  \
0              45000.0  {'address': {'postal_code': '99801', 'state': ...
1                  NaN  {'address': {'postal_code': '99801', 'state': ...
2                  NaN  {'address': {'postal_code': '99801', 'state': ...
3                  NaN  {'address': {'postal_code': '99801', 'state': ...
4                  NaN  {'address': {'postal_code': '99801', 'state': ...

  matterport
0      False
1      False
2      False
3      False
4      False

[5 rows x 23 columns]

In [86]:
# KEEP? UPDATED REMOVED NORMALIZE

df.columns

Index(['primary_photo', 'last_update_date', 'source', 'tags', 'permalink',
       'status', 'list_date', 'open_houses', 'description', 'branding',
       'list_price', 'lead_attributes', 'property_id', 'photos', 'flags',
       'community', 'products', 'virtual_tours', 'other_listings',
       'listing_id', 'price_reduced_amount', 'location', 'matterport'],
      dtype='object')

## Data Cleaning and Wrangling

At this point, ensure that you have all sales in a dataframe.
- Take a quick look at your data (i.e. `.info()`, `.describe()`) - what do you see?
- Is each cell one value, or do some cells have lists?
- What are the data types of each column?
- Some sales may not actually include the sale price (target).  These rows should be dropped.
- There are a lot of NA/None values.  Should these be dropped or replaced with something?
    - You can drop rows or use various methods to fills NA's - use your best judgement for each column 
    - i.e. for some columns (like Garage), NA probably just means no Garage, so 0
- Drop columns that aren't needed
    - Don't keep the list price because it will be too close to the sale price. Assume we want to predict the price of houses not yet listed

In [89]:
# load and concatenate data here
# drop or replace values as necessary

In [90]:
df = pd.DataFrame(all_results)
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8159 entries, 0 to 8158
Data columns (total 23 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   primary_photo         7403 non-null   object
 1   last_update_date      8125 non-null   object
 2   source                7752 non-null   object
 3   tags                  7638 non-null   object
 4   permalink             8159 non-null   object
 5   status                8159 non-null   object
 6   list_date             7752 non-null   object
 7   open_houses           0 non-null      object
 8   description           8159 non-null   object
 9   branding              8159 non-null   object
 10  list_price            7721 non-null   float64
 11  lead_attributes       8159 non-null   object
 12  property_id           8159 non-null   object
 13  photos                7403 non-null   object
 14  flags                 8159 non-null   object
 15  community             5 non-null      object
 16  products              7673 non-null   object
 17  virtual_tours         1351 non-null   object
 18  other_listings        7856 non-null   object
 19  listing_id            7752 non-null   object
 20  price_reduced_amount  2484 non-null   float64
 21  location              8159 non-null   object
 22  matterport            8159 non-null   bool
dtypes: bool(1), float64(2), object(20)
memory usage: 1.4+ MB

In [91]:
df.shape

(8159, 23)

In [92]:
df.describe(include='all')

,primary_photo,last_update_date,source,tags,permalink,status,list_date,open_houses,description,branding,...,photos,flags,community,products,virtual_tours,other_listings,listing_id,price_reduced_amount,location,matterport
count,7403,8125,7752,7638,8159,8159,7752,0,8159,8159,...,7403,8159,5,7673,1351,7856,7752,2.484000e+03,8159,8159
unique,1627,1716,393,1628,1795,1,1636,0,1791,996,...,1627,6,1,4,290,1726,1704,NaN,1794,2
top,{'href': 'https://ap.rdcpix.com/ad5d27c0b1692b...,2023-10-20,"{'plan_id': None, 'agents': [{'office_name': N...",[big_lot],1410-Ridgewood-Dr-Ab_Jefferson-City_MO_65109_M...,sold,2024-01-05T17:38:27.000000Z,NaN,"{'year_built': None, 'baths_3qtr': None, 'sold...","[{'name': None, 'photo': None, 'type': 'Office'}]",...,"[{'tags': [{'label': 'house_view', 'probabilit...","{'is_new_construction': None, 'is_for_rent': N...",{'advertisers': [{'office': {'hours': 'Monday ...,{'brand_name': 'essentials'},"[{'type': None, 'href': 'https://cambiomhc.com...","{'rdc': [{'listing_id': '2960264046', 'listing...",2962644673,NaN,"{'address': {'postal_code': '50036', 'state': ...",False
freq,5,95,5127,62,5,8159,80,NaN,10,434,...,5,5231,5,4900,20,5,5,NaN,7,7830
mean,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2.442704e+04,NaN,NaN
std,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,7.162396e+04,NaN,NaN
min,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.000000e+02,NaN,NaN
25%,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,6.000000e+03,NaN,NaN
50%,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.010000e+04,NaN,NaN
75%,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2.000000e+04,NaN,NaN
max,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2.015999e+06,NaN,NaN

In [93]:
df.columns

Index(['primary_photo', 'last_update_date', 'source', 'tags', 'permalink',
       'status', 'list_date', 'open_houses', 'description', 'branding',
       'list_price', 'lead_attributes', 'property_id', 'photos', 'flags',
       'community', 'products', 'virtual_tours', 'other_listings',
       'listing_id', 'price_reduced_amount', 'location', 'matterport'],
      dtype='object')

In [94]:
# cell value; false = cell does not contain list, true = cell contains list
df = pd.DataFrame(all_results)

# check if each cell contains a list
is_list = df.map(lambda x: isinstance(x, list))

# result
print(is_list)

      primary_photo  last_update_date  source   tags  permalink  status  \
0             False             False   False   True      False   False
1             False             False   False  False      False   False
2             False             False   False  False      False   False
3             False             False   False  False      False   False
4             False             False   False  False      False   False
...             ...               ...     ...    ...        ...     ...
8154          False             False   False   True      False   False
8155          False             False   False   True      False   False
8156          False             False   False   True      False   False
8157          False             False   False   True      False   False
8158          False             False   False   True      False   False

      list_date  open_houses  description  branding  ...  photos  flags  \
0         False        False        False      True  ...    True  False
1         False        False        False      True  ...   False  False
2         False        False        False      True  ...   False  False
3         False        False        False      True  ...   False  False
4         False        False        False      True  ...   False  False
...         ...          ...          ...       ...  ...     ...    ...
8154      False        False        False      True  ...    True  False
8155      False        False        False      True  ...    True  False
8156      False        False        False      True  ...    True  False
8157      False        False        False      True  ...    True  False
8158      False        False        False      True  ...    True  False

      community  products  virtual_tours  other_listings  listing_id  \
0         False     False          False           False       False
1         False     False          False           False       False
2         False     False          False           False       False
3         False     False          False           False       False
4         False     False          False           False       False
...         ...       ...            ...             ...         ...
8154      False     False          False           False       False
8155      False     False          False           False       False
8156      False     False          False           False       False
8157      False     False          False           False       False
8158      False     False          False           False       False

      price_reduced_amount  location  matterport
0                    False     False       False
1                    False     False       False
2                    False     False       False
3                    False     False       False
4                    False     False       False
...                    ...       ...         ...
8154                 False     False       False
8155                 False     False       False
8156                 False     False       False
8157                 False     False       False
8158                 False     False       False

[8159 rows x 23 columns]

In [96]:
#sold price print - keep for reference re drop list price 

for index, row in df.iterrows():
    print(f"Row {index} - Sold Price: {row['description'].get('sold_price', 'Not Available')}")

Row 0 - Sold Price: None
Row 1 - Sold Price: None
Row 2 - Sold Price: None
Row 3 - Sold Price: None
Row 4 - Sold Price: None
Row 5 - Sold Price: None
Row 6 - Sold Price: None
Row 7 - Sold Price: None
Row 8 - Sold Price: None
Row 9 - Sold Price: None
Row 10 - Sold Price: None
Row 11 - Sold Price: None
Row 12 - Sold Price: None
Row 13 - Sold Price: None
Row 14 - Sold Price: None
Row 15 - Sold Price: None
Row 16 - Sold Price: None
Row 17 - Sold Price: None
Row 18 - Sold Price: None
Row 19 - Sold Price: None
Row 20 - Sold Price: None
Row 21 - Sold Price: None
Row 22 - Sold Price: None
Row 23 - Sold Price: None
Row 24 - Sold Price: None
Row 25 - Sold Price: None
Row 26 - Sold Price: None
Row 27 - Sold Price: None
Row 28 - Sold Price: None
Row 29 - Sold Price: None
Row 30 - Sold Price: 129900
Row 31 - Sold Price: 88500
Row 32 - Sold Price: 145000
Row 33 - Sold Price: 65000
Row 34 - Sold Price: 169000
Row 35 - Sold Price: 180000
Row 36 - Sold Price: 260000
Row 37 - Sold Price: 60000
Row 38 - Sold Price: 159000
Row 39 - Sold Price: 424900
Row 40 - Sold Price: 370000
Row 41 - Sold Price: 140000
Row 42 - Sold Price: 149900
Row 43 - Sold Price: 45000
Row 44 - Sold Price: 310000
Row 45 - Sold Price: 147000
Row 46 - Sold Price: 195000
Row 47 - Sold Price: 136000
Row 48 - Sold Price: 31500
Row 49 - Sold Price: 178000
Row 50 - Sold Price: 172500
Row 51 - Sold Price: 150000
Row 52 - Sold Price: 170000
Row 53 - Sold Price: 125000
Row 54 - Sold Price: 162000
Row 55 - Sold Price: 111200
Row 56 - Sold Price: 63000
Row 57 - Sold Price: 106000
Row 58 - Sold Price: 245000
Row 59 - Sold Price: 310000
Row 60 - Sold Price: 100000
Row 61 - Sold Price: 95900
Row 62 - Sold Price: 375000
Row 63 - Sold Price: 320000
Row 64 - Sold Price: 120000
Row 65 - Sold Price: 283000
Row 66 - Sold Price: 284500
Row 67 - Sold Price: 160000
Row 68 - Sold Price: 439900
Row 69 - Sold Price: 68250
Row 70 - Sold Price: 385000
Row 71 - Sold Price: 139900
Row 72 - Sold Price: 88500
Row 73 - Sold Price: 145000
Row 74 - Sold Price: 65000
Row 75 - Sold Price: 169000
Row 76 - Sold Price: 180000
Row 77 - Sold Price: 260000
Row 78 - Sold Price: 60000
Row 79 - Sold Price: 159000
Row 80 - Sold Price: 424900
Row 81 - Sold Price: 370000
Row 82 - Sold Price: 140000
Row 83 - Sold Price: 149900
Row 84 - Sold Price: 45000
Row 85 - Sold Price: 310000
Row 86 - Sold Price: 147000
Row 87 - Sold Price: 195000
Row 88 - Sold Price: 136000
Row 89 - Sold Price: 31500
Row 90 - Sold Price: 172500
Row 91 - Sold Price: 178000
Row 92 - Sold Price: 150000
Row 93 - Sold Price: 170000
Row 94 - Sold Price: 125000
Row 95 - Sold Price: 162000
Row 96 - Sold Price: 111200
Row 97 - Sold Price: 63000
Row 98 - Sold Price: 106000
Row 99 - Sold Price: 310000
Row 100 - Sold Price: 245000
Row 101 - Sold Price: 100000
Row 102 - Sold Price: 95900
Row 103 - Sold Price: 375000
Row 104 - Sold Price: 320000
Row 105 - Sold Price: 120000
Row 106 - Sold Price: 283000
Row 107 - Sold Price: 284500
Row 108 - Sold Price: 160000
Row 109 - Sold Price: 439900
Row 110 - Sold Price: 68250
Row 111 - Sold Price: 385000
Row 112 - Sold Price: 139900
Row 113 - Sold Price: 115000
Row 114 - Sold Price: 145000
Row 115 - Sold Price: 65000
Row 116 - Sold Price: 169000
Row 117 - Sold Price: 180000
Row 118 - Sold Price: 260000
Row 119 - Sold Price: 60000
Row 120 - Sold Price: 424900
Row 121 - Sold Price: 370000
Row 122 - Sold Price: 159000
Row 123 - Sold Price: 140000
Row 124 - Sold Price: 149900
Row 125 - Sold Price: 45000
Row 126 - Sold Price: 310000
Row 127 - Sold Price: 147000
Row 128 - Sold Price: 195000
Row 129 - Sold Price: 136000
Row 130 - Sold Price: 31500
Row 131 - Sold Price: 178000
Row 132 - Sold Price: 172500
Row 133 - Sold Price: 150000
Row 134 - Sold Price: 170000
Row 135 - Sold Price: 125000
Row 136 - Sold Price: 162000
Row 137 - Sold Price: 111200
Row 138 - Sold Price: 63000
Row 139 - Sold Price: 106000
Row 140 - Sold Price: 310000
Row 141 - Sold Price: 245000
Row 142 - Sold Price: 100000
Row 143 - Sold Price: 95900
Row 144 - Sold Price: 375000
Row 145 - Sold Price: 320000
Row 146 - Sold Price: 120000
Row 147 - Sold Price: 283000
Row 148 - Sold Price: 284500
Row 149 - Sold Price: 160000
Row 150 - Sold Price: 439900
Row 151 - Sold Price: 68250
Row 152 - Sold Price: 385000
Row 153 - Sold Price: 139900
Row 154 - Sold Price: 115000
Row 155 - Sold Price: 140267
Row 156 - Sold Price: 65000
Row 157 - Sold Price: 169000
Row 158 - Sold Price: 180000
Row 159 - Sold Price: 260000
Row 160 - Sold Price: 60000
Row 161 - Sold Price: 424900
Row 162 - Sold Price: 370000
Row 163 - Sold Price: 159000
Row 164 - Sold Price: 140000
Row 165 - Sold Price: 149900
Row 166 - Sold Price: 45000
Row 167 - Sold Price: 310000
Row 168 - Sold Price: 147000
Row 169 - Sold Price: 195000
Row 170 - Sold Price: 136000
Row 171 - Sold Price: 31500
Row 172 - Sold Price: 178000
Row 173 - Sold Price: 172500
Row 174 - Sold Price: 150000
Row 175 - Sold Price: 170000
Row 176 - Sold Price: 125000
Row 177 - Sold Price: 162000
Row 178 - Sold Price: 111200
Row 179 - Sold Price: 63000
Row 180 - Sold Price: 106000
Row 181 - Sold Price: 310000
Row 182 - Sold Price: 245000
Row 183 - Sold Price: 100000
Row 184 - Sold Price: 95900
Row 185 - Sold Price: 375000
Row 186 - Sold Price: 320000
Row 187 - Sold Price: 120000
Row 188 - Sold Price: 283000
Row 189 - Sold Price: 284500
Row 190 - Sold Price: 160000
Row 191 - Sold Price: 439900
Row 192 - Sold Price: 68250
Row 193 - Sold Price: 385000
Row 194 - Sold Price: 139900
Row 195 - Sold Price: 115000
Row 196 - Sold Price: 140267
Row 197 - Sold Price: 173000
Row 198 - Sold Price: 169000
Row 199 - Sold Price: 180000
Row 200 - Sold Price: 260000
Row 201 - Sold Price: 60000
Row 202 - Sold Price: 424900
Row 203 - Sold Price: 370000
Row 204 - Sold Price: 159000
Row 205 - Sold Price: 140000
Row 206 - Sold Price: 149900
Row 207 - Sold Price: 45000
Row 208 - Sold Price: 310000
Row 209 - Sold Price: 147000
Row 210 - Sold Price: 195000
Row 211 - Sold Price: 136000
Row 212 - Sold Price: 31500
Row 213 - Sold Price: 172500
Row 214 - Sold Price: 178000
Row 215 - Sold Price: 150000
Row 216 - Sold Price: 170000
Row 217 - Sold Price: 125000
Row 218 - Sold Price: 162000
Row 219 - Sold Price: 111200
Row 220 - Sold Price: 63000
Row 221 - Sold Price: 106000
Row 222 - Sold Price: 245000
Row 223 - Sold Price: 310000
Row 224 - Sold Price: 100000
Row 225 - Sold Price: 95900
Row 226 - Sold Price: 375000
Row 227 - Sold Price: 320000
Row 228 - Sold Price: 120000
Row 229 - Sold Price: 283000
Row 230 - Sold Price: 284500
Row 231 - Sold Price: 160000
Row 232 - Sold Price: 439900
Row 233 - Sold Price: 68250
Row 234 - Sold Price: 385000
Row 235 - Sold Price: 139900
Row 236 - Sold Price: 115000
Row 237 - Sold Price: 173000
Row 238 - Sold Price: 140267
Row 239 - Sold Price: 215000
Row 240 - Sold Price: 161000
Row 241 - Sold Price: 359500
Row 242 - Sold Price: 205000
Row 243 - Sold Price: 162000
Row 244 - Sold Price: 1170000
Row 245 - Sold Price: 225000
Row 246 - Sold Price: 115000
Row 247 - Sold Price: 63000
Row 248 - Sold Price: 135000
Row 249 - Sold Price: 150000
Row 250 - Sold Price: 530000
Row 251 - Sold Price: 76000
Row 252 - Sold Price: 159900
Row 253 - Sold Price: 980000
Row 254 - Sold Price: 259900
Row 255 - Sold Price: 570000
Row 256 - Sold Price: 417000
Row 257 - Sold Price: 396500
Row 258 - Sold Price: 150000
Row 259 - Sold Price: 9000
Row 260 - Sold Price: 255000
Row 261 - Sold Price: 63500
Row 262 - Sold Price: 453990
Row 263 - Sold Price: 455000
Row 264 - Sold Price: 222000
Row 265 - Sold Price: 379000
Row 266 - Sold Price: 190000
Row 267 - Sold Price: 48500
Row 268 - Sold Price: 175000
Row 269 - Sold Price: 107500
Row 270 - Sold Price: 103000
Row 271 - Sold Price: 236500
Row 272 - Sold Price: 225000
Row 273 - Sold Price: 100000
Row 274 - Sold Price: 325000
Row 275 - Sold Price: 258000
Row 276 - Sold Price: 39900
Row 277 - Sold Price: 75000
Row 278 - Sold Price: 615000
Row 279 - Sold Price: 388000
Row 280 - Sold Price: 1150000
Row 281 - Sold Price: 305000
Row 282 - Sold Price: 205000
Row 283 - Sold Price: 359500
Row 284 - Sold Price: 162000
Row 285 - Sold Price: 1170000
Row 286 - Sold Price: 225000
Row 287 - Sold Price: 115000
Row 288 - Sold Price: 135000
Row 289 - Sold Price: 63000
Row 290 - Sold Price: 150000
Row 291 - Sold Price: 530000
Row 292 - Sold Price: 76000
Row 293 - Sold Price: 159900
Row 294 - Sold Price: 980000
Row 295 - Sold Price: 259900
Row 296 - Sold Price: 570000
Row 297 - Sold Price: 417000
Row 298 - Sold Price: 396500
Row 299 - Sold Price: 150000
Row 300 - Sold Price: 9000
Row 301 - Sold Price: 255000
Row 302 - Sold Price: 63500
Row 303 - Sold Price: 453990
Row 304 - Sold Price: 455000
Row 305 - Sold Price: 222000
Row 306 - Sold Price: 379000
Row 307 - Sold Price: 190000
Row 308 - Sold Price: 48500
Row 309 - Sold Price: 107500
Row 310 - Sold Price: 175000
Row 311 - Sold Price: 103000
Row 312 - Sold Price: 236500
Row 313 - Sold Price: 225000
Row 314 - Sold Price: 100000
Row 315 - Sold Price: 325000
Row 316 - Sold Price: 258000
Row 317 - Sold Price: 39900
Row 318 - Sold Price: 75000
Row 319 - Sold Price: 615000
Row 320 - Sold Price: 388000
Row 321 - Sold Price: 1150000
Row 322 - Sold Price: 305000
Row 323 - Sold Price: 56000
Row 324 - Sold Price: 359500
Row 325 - Sold Price: 162000
Row 326 - Sold Price: 1170000
Row 327 - Sold Price: 225000
Row 328 - Sold Price: 115000
Row 329 - Sold Price: 135000
Row 330 - Sold Price: 63000
Row 331 - Sold Price: 150000
Row 332 - Sold Price: 530000
Row 333 - Sold Price: 76000
Row 334 - Sold Price: 159900
Row 335 - Sold Price: 980000
Row 336 - Sold Price: 259900
Row 337 - Sold Price: 570000
Row 338 - Sold Price: 417000
Row 339 - Sold Price: 396500
Row 340 - Sold Price: 150000
Row 341 - Sold Price: 9000
Row 342 - Sold Price: 255000
Row 343 - Sold Price: 63500
Row 344 - Sold Price: 453990
Row 345 - Sold Price: 455000
Row 346 - Sold Price: 222000
Row 347 - Sold Price: 379000
Row 348 - Sold Price: 190000
Row 349 - Sold Price: 48500
Row 350 - Sold Price: 107500
Row 351 - Sold Price: 175000
Row 352 - Sold Price: 103000
Row 353 - Sold Price: 236500
Row 354 - Sold Price: 225000
Row 355 - Sold Price: 100000
Row 356 - Sold Price: 325000
Row 357 - Sold Price: 258000
Row 358 - Sold Price: 39900
Row 359 - Sold Price: 75000
Row 360 - Sold Price: 615000
Row 361 - Sold Price: 388000
Row 362 - Sold Price: 1150000
Row 363 - Sold Price: 305000
Row 364 - Sold Price: 56000
Row 365 - Sold Price: 75000
Row 366 - Sold Price: 162000
Row 367 - Sold Price: 1170000
Row 368 - Sold Price: 225000
Row 369 - Sold Price: 115000
Row 370 - Sold Price: 63000
Row 371 - Sold Price: 135000
Row 372 - Sold Price: 150000
Row 373 - Sold Price: 530000
Row 374 - Sold Price: 76000
Row 375 - Sold Price: 159900
Row 376 - Sold Price: 980000
Row 377 - Sold Price: 259900
Row 378 - Sold Price: 570000
Row 379 - Sold Price: 417000
Row 380 - Sold Price: 396500
Row 381 - Sold Price: 150000
Row 382 - Sold Price: 9000
Row 383 - Sold Price: 255000
Row 384 - Sold Price: 63500
Row 385 - Sold Price: 453990
Row 386 - Sold Price: 455000
Row 387 - Sold Price: 222000
Row 388 - Sold Price: 379000
Row 389 - Sold Price: 190000
Row 390 - Sold Price: 48500
Row 391 - Sold Price: 175000
Row 392 - Sold Price: 107500
Row 393 - Sold Price: 103000
Row 394 - Sold Price: 236500
Row 395 - Sold Price: 225000
Row 396 - Sold Price: 100000
Row 397 - Sold Price: 325000
Row 398 - Sold Price: 258000
Row 399 - Sold Price: 39900
Row 400 - Sold Price: 75000
Row 401 - Sold Price: 615000
Row 402 - Sold Price: 388000
Row 403 - Sold Price: 1150000
Row 404 - Sold Price: 305000
Row 405 - Sold Price: 56000
Row 406 - Sold Price: 75000
Row 407 - Sold Price: 148000
Row 408 - Sold Price: 1170000
Row 409 - Sold Price: 225000
Row 410 - Sold Price: 115000
Row 411 - Sold Price: 63000
Row 412 - Sold Price: 135000
Row 413 - Sold Price: 150000
Row 414 - Sold Price: 530000
Row 415 - Sold Price: 76000
Row 416 - Sold Price: 159900
Row 417 - Sold Price: 980000
Row 418 - Sold Price: 259900
Row 419 - Sold Price: 570000
Row 420 - Sold Price: 417000
Row 421 - Sold Price: 396500
Row 422 - Sold Price: 150000
Row 423 - Sold Price: 9000
Row 424 - Sold Price: 255000
Row 425 - Sold Price: 63500
Row 426 - Sold Price: 453990
Row 427 - Sold Price: 455000
Row 428 - Sold Price: 222000
Row 429 - Sold Price: 379000
Row 430 - Sold Price: 190000
Row 431 - Sold Price: 48500
Row 432 - Sold Price: 175000
Row 433 - Sold Price: 107500
Row 434 - Sold Price: 103000
Row 435 - Sold Price: 236500
Row 436 - Sold Price: 225000
Row 437 - Sold Price: 100000
Row 438 - Sold Price: 325000
Row 439 - Sold Price: 258000
Row 440 - Sold Price: 39900
Row 441 - Sold Price: 75000
Row 442 - Sold Price: 615000
Row 443 - Sold Price: 388000
Row 444 - Sold Price: 1150000
Row 445 - Sold Price: 305000
Row 446 - Sold Price: 56000
Row 447 - Sold Price: 75000
Row 448 - Sold Price: 148000
Row 449 - Sold Price: 105000
Row 450 - Sold Price: 445000
Row 451 - Sold Price: 410000
Row 452 - Sold Price: 1206000
Row 453 - Sold Price: 330000
Row 454 - Sold Price: 415000
Row 455 - Sold Price: 200000
Row 456 - Sold Price: 1900000
Row 457 - Sold Price: 359900
Row 458 - Sold Price: 186000
Row 459 - Sold Price: 675000
Row 460 - Sold Price: 1701500
Row 461 - Sold Price: 525000
Row 462 - Sold Price: 385000
Row 463 - Sold Price: 1038712
Row 464 - Sold Price: 690000
Row 465 - Sold Price: 498000
Row 466 - Sold Price: 500000
Row 467 - Sold Price: 340000
Row 468 - Sold Price: 345000
Row 469 - Sold Price: 28000
Row 470 - Sold Price: 1010000
Row 471 - Sold Price: 825000
Row 472 - Sold Price: 432000
Row 473 - Sold Price: 745000
Row 474 - Sold Price: 700000
Row 475 - Sold Price: 436000
Row 476 - Sold Price: 625600
Row 477 - Sold Price: 827522
Row 478 - Sold Price: 255000
Row 479 - Sold Price: 120000
Row 480 - Sold Price: 485000
Row 481 - Sold Price: 267000
Row 482 - Sold Price: 180000
Row 483 - Sold Price: 448000
Row 484 - Sold Price: 540000
Row 485 - Sold Price: 271500
Row 486 - Sold Price: 345000
Row 487 - Sold Price: 350000
Row 488 - Sold Price: 28000
Row 489 - Sold Price: 470000
Row 490 - Sold Price: 389900
Row 491 - Sold Price: 1090000
Row 492 - Sold Price: 410000
Row 493 - Sold Price: 1206000
Row 494 - Sold Price: 330000
Row 495 - Sold Price: 415000
Row 496 - Sold Price: 200000
Row 497 - Sold Price: 1900000
Row 498 - Sold Price: 359900
Row 499 - Sold Price: 1701500
Row 500 - Sold Price: 675000
Row 501 - Sold Price: 385000
Row 502 - Sold Price: 525000
Row 503 - Sold Price: 186000
Row 504 - Sold Price: 1038712
Row 505 - Sold Price: 500000
Row 506 - Sold Price: 690000
Row 507 - Sold Price: 498000
Row 508 - Sold Price: 340000
Row 509 - Sold Price: 345000
Row 510 - Sold Price: 28000
Row 511 - Sold Price: 1010000
Row 512 - Sold Price: 825000
Row 513 - Sold Price: 432000
Row 514 - Sold Price: 745000
Row 515 - Sold Price: 700000
Row 516 - Sold Price: 436000
Row 517 - Sold Price: 625600
Row 518 - Sold Price: 827522
Row 519 - Sold Price: 255000
Row 520 - Sold Price: 120000
Row 521 - Sold Price: 485000
Row 522 - Sold Price: 267000
Row 523 - Sold Price: 180000
Row 524 - Sold Price: 448000
Row 525 - Sold Price: 540000
Row 526 - Sold Price: 271500
Row 527 - Sold Price: 345000
Row 528 - Sold Price: 350000
Row 529 - Sold Price: 28000
Row 530 - Sold Price: 470000
Row 531 - Sold Price: 389900
Row 532 - Sold Price: 1090000
Row 533 - Sold Price: 755000
Row 534 - Sold Price: 1206000
Row 535 - Sold Price: 330000
Row 536 - Sold Price: 415000
Row 537 - Sold Price: 200000
Row 538 - Sold Price: 1900000
Row 539 - Sold Price: 359900
Row 540 - Sold Price: 186000
Row 541 - Sold Price: 675000
Row 542 - Sold Price: 1701500
Row 543 - Sold Price: 525000
Row 544 - Sold Price: 385000
Row 545 - Sold Price: 1038712
Row 546 - Sold Price: 690000
Row 547 - Sold Price: 498000
Row 548 - Sold Price: 500000
Row 549 - Sold Price: 340000
Row 550 - Sold Price: 345000
Row 551 - Sold Price: 28000
Row 552 - Sold Price: 1010000
Row 553 - Sold Price: 825000
Row 554 - Sold Price: 432000
Row 555 - Sold Price: 745000
Row 556 - Sold Price: 700000
Row 557 - Sold Price: 436000
Row 558 - Sold Price: 625600
Row 559 - Sold Price: 827522
Row 560 - Sold Price: 255000
Row 561 - Sold Price: 120000
Row 562 - Sold Price: 485000
Row 563 - Sold Price: 267000
Row 564 - Sold Price: 180000
Row 565 - Sold Price: 448000
Row 566 - Sold Price: 540000
Row 567 - Sold Price: 271500
Row 568 - Sold Price: 345000
Row 569 - Sold Price: 350000
Row 570 - Sold Price: 28000
Row 571 - Sold Price: 470000
Row 572 - Sold Price: 389900
Row 573 - Sold Price: 1090000
Row 574 - Sold Price: 755000
Row 575 - Sold Price: 390000
Row 576 - Sold Price: 330000
Row 577 - Sold Price: 415000
Row 578 - Sold Price: 200000
Row 579 - Sold Price: 1900000
Row 580 - Sold Price: 359900
Row 581 - Sold Price: 186000
Row 582 - Sold Price: 675000
Row 583 - Sold Price: 1701500
Row 584 - Sold Price: 525000
Row 585 - Sold Price: 385000
Row 586 - Sold Price: 1038712
Row 587 - Sold Price: 500000
Row 588 - Sold Price: 690000
Row 589 - Sold Price: 498000
Row 590 - Sold Price: 340000
Row 591 - Sold Price: 345000
Row 592 - Sold Price: 28000
Row 593 - Sold Price: 1010000
Row 594 - Sold Price: 825000
Row 595 - Sold Price: 432000
Row 596 - Sold Price: 745000
Row 597 - Sold Price: 700000
Row 598 - Sold Price: 436000
Row 599 - Sold Price: 625600
Row 600 - Sold Price: 827522
Row 601 - Sold Price: 255000
Row 602 - Sold Price: 120000
Row 603 - Sold Price: 485000
Row 604 - Sold Price: 267000
Row 605 - Sold Price: 180000
Row 606 - Sold Price: 448000
Row 607 - Sold Price: 540000
Row 608 - Sold Price: 271500
Row 609 - Sold Price: 345000
Row 610 - Sold Price: 350000
Row 611 - Sold Price: 28000
Row 612 - Sold Price: 470000
Row 613 - Sold Price: 389900
Row 614 - Sold Price: 1090000
Row 615 - Sold Price: 755000
Row 616 - Sold Price: 390000
Row 617 - Sold Price: 349900
Row 618 - Sold Price: 415000
Row 619 - Sold Price: 200000
Row 620 - Sold Price: 359900
Row 621 - Sold Price: 1900000
Row 622 - Sold Price: 1701500
Row 623 - Sold Price: 675000
Row 624 - Sold Price: 385000
Row 625 - Sold Price: 525000
Row 626 - Sold Price: 186000
Row 627 - Sold Price: 1038712
Row 628 - Sold Price: 690000
Row 629 - Sold Price: 498000
Row 630 - Sold Price: 500000
Row 631 - Sold Price: 340000
Row 632 - Sold Price: 345000
Row 633 - Sold Price: 432000
Row 634 - Sold Price: 28000
Row 635 - Sold Price: 1010000
Row 636 - Sold Price: 825000
Row 637 - Sold Price: 350000
Row 638 - Sold Price: 700000
Row 639 - Sold Price: 448000
Row 640 - Sold Price: 540000
Row 641 - Sold Price: 271500
Row 642 - Sold Price: 345000
Row 643 - Sold Price: 120000
Row 644 - Sold Price: 485000
Row 645 - Sold Price: 267000
Row 646 - Sold Price: 436000
Row 647 - Sold Price: 625600
Row 648 - Sold Price: 255000
Row 649 - Sold Price: 180000
Row 650 - Sold Price: 827522
Row 651 - Sold Price: 745000
Row 652 - Sold Price: 28000
Row 653 - Sold Price: 470000
Row 654 - Sold Price: 755000
Row 655 - Sold Price: 1090000
Row 656 - Sold Price: 389900
Row 657 - Sold Price: 200000
Row 658 - Sold Price: 875000
Row 659 - Sold Price: 349900
Row 660 - Sold Price: 515000
Row 661 - Sold Price: 460000
Row 662 - Sold Price: 472000
Row 663 - Sold Price: 513000
Row 664 - Sold Price: 1075000
Row 665 - Sold Price: 465000
Row 666 - Sold Price: 313000
Row 667 - Sold Price: 357000
Row 668 - Sold Price: 430000
Row 669 - Sold Price: 315000
Row 670 - Sold Price: 373000
Row 671 - Sold Price: 415000
Row 672 - Sold Price: 472000
Row 673 - Sold Price: 500100
Row 674 - Sold Price: 903000
Row 675 - Sold Price: 530000
Row 676 - Sold Price: 785000
Row 677 - Sold Price: 610000
Row 678 - Sold Price: 575000
Row 679 - Sold Price: 530000
Row 680 - Sold Price: 117777
Row 681 - Sold Price: 595000
Row 682 - Sold Price: 343000
Row 683 - Sold Price: 375000
Row 684 - Sold Price: 468000
Row 685 - Sold Price: 490000
Row 686 - Sold Price: 395000
Row 687 - Sold Price: 599900
Row 688 - Sold Price: 230000
Row 689 - Sold Price: 775000
Row 690 - Sold Price: 355000
Row 691 - Sold Price: 245000
Row 692 - Sold Price: 454000
Row 693 - Sold Price: 445000
Row 694 - Sold Price: 412000
Row 695 - Sold Price: 800000
Row 696 - Sold Price: 495000

### Dealing with Tags

Consider the fact that with tags, there are a lot of categorical variables.
- How many columns would we have if we OHE tags, city and state?
- Perhaps we can get rid of tags that have a low frequency.

In [ ]:
# OHE categorical variables/ tags here
# tags will have to be done manually

### Dealing with Cities

- Sales will vary drastically between cities and states.  Is there a way to keep information about which city it is without OHE?
- Could we label encode or ordinal encode?  Yes, but this may have undesirable effects, giving nominal data ordinal values.
- What we can do is use our training data to encode the mean sale price by city as a feature (a.k.a. Target Encoding)
    - We can do this as long as we ONLY use the training data - we're using the available data to give us a 'starting guess' of the price for each city, without needing to encode city explicitly
- If you replace cities or states with numerical values (like the mean price), make sure that the data is split so that we don't leak data into the training selection. This is a great time to train test split. Compute on the training data, and join these values to the test data
- Note that you *may* have cities in the test set that are not in the training set. You don't want these to be NA, so maybe you can fill them with the overall mean

In [ ]:
# perform train test split here
# do something with state and city

## Extra Data - STRETCH

> This doesn't need to be part of your Minimum Viable Product (MVP). We recommend you write a functional, basic pipeline first, then circle back and join new data if you have time

> If you do this, try to write your downstream steps in a way it will still work on a dataframe with different features!

- You're not limited to just using the data provided to you. Think/ do some research about other features that might be useful to predict housing prices. 
- Can you import and join this data? Make sure you do any necessary preprocessing and make sure it is joined correctly.
- Example suggestion: could mortgage interest rates in the year of the listing affect the price?

In [ ]:
# import, join and preprocess new data here

## EDA/ Visualization

Remember all of the EDA that you've been learning about?  Now is a perfect time for it!
- Look at distributions of numerical variables to see the shape of the data and detect outliers.    
    - Consider transforming very skewed variables
- Scatterplots of a numerical variable and the target go a long way to show correlations.
- A heatmap will help detect highly correlated features, and we don't want these.
    - You may have too many features to do this, in which case you can simply compute the most correlated feature-pairs and list them
- Is there any overlap in any of the features? (redundant information, like number of this or that room...)

In [ ]:
# perform EDA here

## Scaling and Finishing Up

Now is a great time to scale the data and save it once it's preprocessed.
- You can save it in your data folder, but you may want to make a new `processed/` subfolder to keep it organized